In [1]:
import csv
with open('texts.csv', 'r') as f:
    reader = csv.reader(f)
    texts = list(reader)

with open('calls.csv', 'r') as f:
    reader = csv.reader(f)
    calls = list(reader)

In [2]:
from datetime import datetime
import pandas as pd

In [3]:
#First off i will be using pandas , and i will create  dataframes for text and calls
# creates variables to store timestamp, calling numbers, receiving number, and call duration
# convert timestamps to datetime object, and convert durations to integer

In [4]:

times_stamp = [x[2] for x in calls]

In [5]:
calling_number = [x[0] for x in calls]

In [6]:
receiving_number = [x[1] for x in calls]

In [7]:
duration_seconds = [x[3] for x in calls]

In [8]:
duration_seconds2 =[]
for x in duration_seconds:
    x = int(x)
    duration_seconds2.append(x)

In [9]:
times_stamp2 =[]
for x in times_stamp:
    x = datetime.strptime(x,'%d-%m-%Y %H:%M:%S')
    times_stamp2.append(x)

In [10]:
my_calls_dict ={'calling_number': calling_number,'receiving_number':receiving_number, 'times_stamp':times_stamp2,'duration_seconds':duration_seconds2 }

In [11]:
df = pd.DataFrame(my_calls_dict)

In [12]:
df.head()

  calling_number receiving_number         times_stamp  duration_seconds
0    78130 00821      98453 94494 2016-09-01 06:01:12               186
1    78298 91466    (022)28952819 2016-09-01 06:01:59              2093
2    97424 22395    (022)47410783 2016-09-01 06:03:51              1975
3    93427 40118    (080)33118033 2016-09-01 06:11:23              1156
4    90087 42537    (080)35121497 2016-09-01 06:17:26               573

In [13]:
last_call = df.times_stamp.max()

In [14]:
last_record = df[df.times_stamp == last_call]

In [15]:
last_record[['calling_number']]

     calling_number
5212    98447 62998

In [16]:
for index, row in last_record.iterrows():
    print("Last record of calls,",row['calling_number'],"calls", row['receiving_number'],"at time", row['times_stamp'],",","lasting",row['duration_seconds'],"seconds")

Last record of calls, 98447 62998 calls (080)46304537 at time 2016-09-30 23:57:15 , lasting 2151 seconds

In [46]:
longest_call = df.duration_seconds.max()
longest_call

4617

In [18]:
longest_time = df[df.duration_seconds == longest_call]

In [19]:
calling_num = [x[0] for x in texts]

In [20]:
receiving_number = [x[1] for x in texts]

In [21]:
times = [x[2] for x in texts]

In [22]:
times_stamp =[]
for x in times:
    x = datetime.strptime(x,'%d-%m-%Y %H:%M:%S')
    times_stamp.append(x)

In [23]:
my_text_dict ={'calling_number': calling_num,'receiving_number':receiving_number,'times_stamp':times_stamp }

In [24]:
my_text_dict.keys()

dict_keys(['calling_number', 'receiving_number', 'times_stamp'])

In [25]:
#my_text_dict[0]

In [26]:
first_text = min(times_stamp)

In [27]:
first_text

datetime.datetime(2016, 9, 1, 6, 3, 22)

In [28]:
text_df = pd.DataFrame(my_text_dict)

In [29]:
text_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9072 entries, 0 to 9071
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   calling_number    9072 non-null   object
 1   receiving_number  9072 non-null   object
 2   times_stamp       9072 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 212.8+ KB

In [30]:
first_text = text_df.times_stamp.min()

In [31]:
first_text_record = text_df[text_df.times_stamp == first_text]

In [32]:
first_text_record

  calling_number receiving_number         times_stamp
0    97424 22395      90365 06212 2016-09-01 06:03:22

In [33]:
for index, row in first_text_record.iterrows():
    print("First record of texts,",row['calling_number'],"texts", row['receiving_number'],"at time", row['times_stamp'])

First record of texts, 97424 22395 texts 90365 06212 at time 2016-09-01 06:03:22

In [34]:
df.calling_number.nunique()

479

In [35]:
df

     calling_number receiving_number         times_stamp  duration_seconds
0       78130 00821      98453 94494 2016-09-01 06:01:12               186
1       78298 91466    (022)28952819 2016-09-01 06:01:59              2093
2       97424 22395    (022)47410783 2016-09-01 06:03:51              1975
3       93427 40118    (080)33118033 2016-09-01 06:11:23              1156
4       90087 42537    (080)35121497 2016-09-01 06:17:26               573
...             ...              ...                 ...               ...
5208    70129 62374      98441 32533 2016-09-30 23:42:28              1338
5209    98444 95768      99003 47921 2016-09-30 23:44:46               161
5210    95267 70383    (080)34121098 2016-09-30 23:49:32               914
5211    90368 95100    (080)29483476 2016-09-30 23:54:15              1288
5212    98447 62998    (080)46304537 2016-09-30 23:57:15              2151

[5213 rows x 4 columns]

In [36]:
df.receiving_number.nunique()

497

In [37]:
text_df.calling_number.nunique()

237

In [38]:
text_df.receiving_number.nunique()

230

In [39]:
df.calling_number.value_counts().head(10)

97380 60551      47
(080)62164823    44
(080)43562014    39
99001 95783      38
(080)45291968    38
(080)33251027    35
(080)43685310    32
87146 31956      32
(080)47459867    30
94480 64700      30
Name: calling_number, dtype: int64

In [109]:
df2 = df.groupby(['calling_number'])[['duration_seconds']].sum()
df2

                duration_seconds
calling_number
(011)21017178               1458
(011)68486606               4110
(022)21884607              12347
(022)22288051              14283
(022)28765220               2499
...                          ...
99007 06998                26380
99009 32475                 9865
99610 89720                 9962
99612 41256                34584
99617 25274                 1553

[479 rows x 1 columns]

In [110]:
grouped_df = df.groupby("calling_number")

In [114]:
maximums = grouped_df.sum()

In [115]:
maximums = maximums.reset_index()

In [116]:
maximums

    calling_number  duration_seconds
0    (011)21017178              1458
1    (011)68486606              4110
2    (022)21884607             12347
3    (022)22288051             14283
4    (022)28765220              2499
..             ...               ...
474    99007 06998             26380
475    99009 32475              9865
476    99610 89720              9962
477    99612 41256             34584
478    99617 25274              1553

[479 rows x 2 columns]

In [119]:
long_time = maximums[maximums.duration_seconds == maximums.duration_seconds.max()]

In [103]:
df4 = df.calling_number.sum()

In [104]:
df.sum()

calling_number      78130 0082178298 9146697424 2239593427 4011890...
receiving_number    98453 94494(022)28952819(022)47410783(080)3311...
duration_seconds                                              4878305
dtype: object

In [87]:
#long_time = df2[df2.duration_seconds == df2.duration_seconds.max()]
long_time

                duration_seconds
calling_number
97380 60551                55570

In [98]:
long_time.iloc[0]

duration_seconds    55570
Name: 97380 60551, dtype: int64

In [42]:
df3 = df.groupby(['receiving_number'])[['duration_seconds']].sum()

In [43]:
df3.duration_seconds.max()

47046

In [122]:
for index, row in long_time.iterrows():
    print(row['calling_number'],"spent the longest time,", row['duration_seconds'],"seconds, on the phone during September 2016.")

97380 60551 spent the longest time, 55570 seconds, on the phone during September 2016.

In [45]:
for record in call_records:
    if record['times_stamp'] == first_text:
        print(record)

NameError: name 'call_records' is not defined

In [ ]:
call_records[0]['times_stamp'] == first_text

In [75]:
purchase_outcome = [1, 1, 0, 0, 1, 1, 0, 0, 0, 0]

In [77]:
mean(purchase_outcome)

NameError: name 'mean' is not defined

In [123]:
calling_num_text = [x[0] for x in texts]

In [124]:
receiving_number_text = [x[1] for x in texts]

In [125]:
calling_number_calls = [x[0] for x in calls]

In [126]:
receiving_number_calls = [x[1] for x in calls]

In [127]:
all_calls_and_text_numbers = calling_num_text + calling_number_calls + receiving_number_calls +receiving_number_text

In [131]:
# function to get unique numbers
def unique(x):
 
    # initialize a null list
    unique_list = []
     
    # traverse for all elements
    for num in x:
        # check if exists in unique_list or not
        if num not in unique_list:
            unique_list.append(num)
    # print list
    print(f"There are {len(unique_list)} different telephone numbers in all text and calls records.")

In [132]:
unique(all_calls_and_text_numbers)

There are 570 different telephone numbers in all text and calls records.

In [234]:
import time


startime = time.time()
from datetime import datetime
import csv
with open('texts.csv', 'r') as f:
    reader = csv.reader(f)
    texts = list(reader)

with open('calls.csv', 'r') as f:
    reader = csv.reader(f)
    calls = list(reader)

calling_num_text = [x[0] for x in texts]
receiving_number_text = [x[1] for x in texts]
calling_number_calls = [x[0] for x in calls]
receiving_number_calls = [x[1] for x in calls]
all_calls_and_text_numbers = calling_num_text + calling_number_calls + receiving_number_calls +receiving_number_text
# function to get unique numbers
def unique(x):
 
    # initialize a null list
    unique_list = []
     
    # traverse for all elements
    for num in x:
        # check if exists in unique_list or not
        if num not in unique_list:
            unique_list.append(num)
    # print list
    print("The numbers called by people in Bangalore have codes:",'\n'.join(map(str, sorted(unique_list)))) 
    

#unique(all_calls_and_text_numbers)

executiontime = (time.time() - startime)
print(f'execution time in seconds:{executiontime}')

execution time in seconds:0.02480602264404297

In [158]:
mycode = unique(all_calls_and_text_numbers)
print('the time of execution is :', timeit.timeit(mycode, number=10000))

There are 570 different telephone numbers in all text and calls records.

ValueError: stmt is neither a string nor callable

In [133]:
len(all_calls_and_text_numbers)

28570

In [144]:
numb =df[df.calling_number.str.startswith("(080)")]

In [145]:
numb

     calling_number receiving_number         times_stamp  duration_seconds
6     (080)45291968      90365 06212 2016-09-01 06:30:36                 9
11    (080)62164823      74066 93594 2016-09-01 06:52:07               300
17    (080)67362492    (04344)316423 2016-09-01 07:24:45              2258
21    (080)69245029    (044)49481100 2016-09-01 07:34:19                 9
26    (080)47459867      98440 65896 2016-09-01 08:08:59              2147
...             ...              ...                 ...               ...
5191  (080)45687418      93414 19669 2016-09-30 21:23:20               812
5196  (080)45291968      90365 06212 2016-09-30 22:12:55              1754
5197  (080)62164823    (080)32255824 2016-09-30 22:21:26               793
5199  (080)67362492    (04344)316423 2016-09-30 22:30:29                74
5207  (080)62164823      74066 93594 2016-09-30 23:41:07               741

[1080 rows x 4 columns]

In [146]:
fix = numb[numb.receiving_number.str.startswith("(0")]

In [147]:
fix

     calling_number receiving_number         times_stamp  duration_seconds
17    (080)67362492    (04344)316423 2016-09-01 07:24:45              2258
21    (080)69245029    (044)49481100 2016-09-01 07:34:19                 9
41    (080)67362492    (04344)316423 2016-09-01 09:39:50               726
42    (080)32255824    (080)62164823 2016-09-01 09:57:10                12
50    (080)29435303    (080)43685310 2016-09-01 10:25:39               236
...             ...              ...                 ...               ...
5154  (080)39755879    (080)26097534 2016-09-30 17:49:24              2496
5162  (080)43685310    (080)29435303 2016-09-30 18:33:28               112
5184  (080)44046839    (080)62342282 2016-09-30 20:49:51               385
5197  (080)62164823    (080)32255824 2016-09-30 22:21:26               793
5199  (080)67362492    (04344)316423 2016-09-30 22:30:29                74

[400 rows x 4 columns]

In [176]:
all_fix_area_Code =fix.receiving_number.to_list()

In [178]:
all_fix_area_Code

['(04344)316423',
 '(044)49481100',
 '(04344)316423',
 '(080)62164823',
 '(080)43685310',
 '(04344)211113',
 '(080)32255824',
 '(080)47459867',
 '(040)34008657',
 '(080)40395498',
 '(080)39991213',
 '(080)43562014',
 '(044)49481100',
 '(080)47459867',
 '(04344)211113',
 '(080)39755879',
 '(040)26738737',
 '(040)34008657',
 '(080)43562014',
 '(022)22288051',
 '(080)61123756',
 '(080)44046839',
 '(04344)211113',
 '(022)22288051',
 '(022)22288051',
 '(080)32390650',
 '(080)25863765',
 '(080)47459867',
 '(022)22288051',
 '(080)44389098',
 '(080)32255824',
 '(080)61419142',
 '(080)64047472',
 '(040)34008657',
 '(080)32255824',
 '(080)22759842',
 '(080)62164823',
 '(080)22759842',
 '(080)47459867',
 '(080)26097534',
 '(080)20227149',
 '(080)31863188',
 '(04344)211113',
 '(04546)267875',
 '(040)34008657',
 '(080)29435303',
 '(080)44389098',
 '(080)39755879',
 '(080)32390650',
 '(080)39991213',
 '(080)39755879',
 '(080)47459867',
 '(080)61123756',
 '(080)61123756',
 '(080)61123756',
 '(080)33251027',
 '(080)43215621',
 '(080)43562014',
 '(080)26097534',
 '(022)38214945',
 '(022)28952819',
 '(04344)228249',
 '(080)43562014',
 '(080)33251027',
 '(080)49796269',
 '(080)61123756',
 '(040)66729318',
 '(044)68407232',
 '(044)49481100',
 '(080)33251027',
 '(044)68407232',
 '(022)38214945',
 '(080)47459867',
 '(080)47459867',
 '(080)64436158',
 '(080)47459867',
 '(080)39755879',
 '(080)47459867',
 '(040)26738737',
 '(04344)211113',
 '(080)25863765',
 '(080)43562014',
 '(080)40395498',
 '(0821)6141380',
 '(080)39755879',
 '(080)32390650',
 '(080)67426410',
 '(080)32255824',
 '(080)43685310',
 '(022)38214945',
 '(040)66729318',
 '(040)34008657',
 '(040)34008657',
 '(080)32390650',
 '(080)32390650',
 '(080)62164823',
 '(0821)6141380',
 '(080)33251027',
 '(022)22288051',
 '(080)25863765',
 '(04344)316423',
 '(04344)211113',
 '(080)43685310',
 '(080)49796269',
 '(080)43562014',
 '(04344)211113',
 '(080)43562014',
 '(080)44046839',
 '(044)49481100',
 '(080)29435303',
 '(080)22759842',
 '(022)22288051',
 '(080)29435303',
 '(080)32647101',
 '(080)61419142',
 '(040)26738737',
 '(080)41203315',
 '(040)26738737',
 '(080)49796269',
 '(080)43215621',
 '(040)26738737',
 '(080)39755879',
 '(080)43685310',
 '(080)43685310',
 '(040)66729318',
 '(080)33251027',
 '(080)20227149',
 '(080)47459867',
 '(044)49481100',
 '(080)43562014',
 '(04546)267875',
 '(080)47459867',
 '(0821)6141380',
 '(080)32255824',
 '(040)66729318',
 '(080)32255824',
 '(080)32255824',
 '(080)33251027',
 '(080)43685310',
 '(080)22759842',
 '(080)47459867',
 '(080)43562014',
 '(04344)211113',
 '(0821)6141380',
 '(080)35986130',
 '(080)43562014',
 '(080)43562014',
 '(022)22288051',
 '(022)66911540',
 '(080)62164823',
 '(04344)615310',
 '(080)32255824',
 '(022)22288051',
 '(080)43685310',
 '(022)22288051',
 '(080)64047472',
 '(022)22288051',
 '(080)43562014',
 '(080)44046839',
 '(040)26738737',
 '(080)62164823',
 '(022)66911540',
 '(04344)615310',
 '(040)34008657',
 '(080)62342282',
 '(080)62164823',
 '(080)47459867',
 '(0821)6141380',
 '(022)38214945',
 '(080)26097534',
 '(080)47459867',
 '(080)43215621',
 '(040)34008657',
 '(080)22759842',
 '(080)32255824',
 '(080)25863765',
 '(080)32647101',
 '(080)64047472',
 '(0821)6141380',
 '(080)62164823',
 '(044)49481100',
 '(080)49796269',
 '(080)49796269',
 '(080)61419142',
 '(080)43562014',
 '(080)62342282',
 '(040)34008657',
 '(080)61419142',
 '(080)67426410',
 '(080)49796269',
 '(022)28952819',
 '(080)26097534',
 '(04344)211113',
 '(080)23413513',
 '(080)62342282',
 '(080)44046839',
 '(080)39991213',
 '(080)47459867',
 '(080)47459867',
 '(040)26738737',
 '(080)33251027',
 '(080)32390650',
 '(040)26738737',
 '(040)34008657',
 '(0821)6141380',
 '(080)60068611',
 '(080)41203315',
 '(044)68407232',
 '(040)66729318',
 '(080)44046839',
 '(080)22759842',
 '(080)39991213',
 '(080)39991213',
 '(080)62164823',
 '(080)32255824',
 '(080)29435303',
 '(04344)316423',
 '(044)64005505',
 '(080)60068611',
 '(080)35986130',
 '(080)32390650',
 '(080)61123756',
 '(0821)6141380',
 '(080)29435303',
 '(080)39991213',
 '(04344)316423',
 '(080)33251027',
 '(080)47459867',
 '(040)34008657',
 '(040)66729318',
 '(040)66729318',
 '(080)32255824',
 '(080)23413513',
 '(04344)228249',
 '(080)44389098',
 '(080)29435303',
 '(0821)6141380',
 '(080)44389098',
 '(022)28952819',
 '(080)32390650',
 '(044)49481100',
 '(044)64005505',
 '(022)38214945',
 '(080)32390650',
 '(080)67426410',
 '(080)32390650',
 '(022)66911540',
 '(04546)267875',
 '(080)33251027',
 '(080)49796269',
 '(04344)228249',
 '(022)66911540',
 '(022)66911540',
 '(080)61123756',
 '(080)61123756',
 '(04344)211113',
 '(080)32390650',
 '(080)39755879',
 '(080)43562014',
 '(080)22759842',
 '(080)67426410',
 '(080)39991213',
 '(04344)316423',
 '(080)61123756',
 '(080)61123756',
 '(080)62164823',
 '(080)44046839',
 '(080)62164823',
 '(080)43562014',
 '(044)49481100',
 '(080)43685310',
 '(080)47459867',
 '(080)32390650',
 '(040)34008657',
 '(080)32255824',
 '(080)43562014',
 '(022)22288051',
 '(080)44389098',
 '(080)43562014',
 '(080)22759842',
 '(044)49481100',
 '(080)61123756',
 '(080)39755879',
 '(022)28952819',
 '(080)62164823',
 '(080)46702492',
 '(080)33251027',
 '(040)66729318',
 '(080)62164823',
 '(080)62164823',
 '(080)62342282',
 '(080)32647101',
 '(080)33251027',
 '(080)49796269',
 '(022)66911540',
 '(080)43685310',
 '(080)22759842',
 '(080)35986130',
 '(080)62164823',
 '(040)66729318',
 '(080)41203315',
 '(080)43562014',
 '(080)49796269',
 '(080)46566171',
 '(080)39991213',
 '(080)39755879',
 '(080)43562014',
 '(080)43685310',
 '(080)62164823',
 '(080)29435303',
 '(080)32390650',
 '(080)33251027',
 '(080)49796269',
 '(080)23413513',
 '(022)38214945',
 '(022)22288051',
 '(040)34008657',
 '(080)47459867',
 '(080)32390650',
 '(080)62164823',
 '(0821)4753474',
 '(080)62164823',
 '(04344)211113',
 '(080)47459867',
 '(044)49481100',
 '(080)39991213',
 '(080)43685310',
 '(022)66911540',
 '(04344)316423',
 '(04344)316423',
 '(080)62342282',
 '(022)22288051',
 '(080)22759842',
 '(080)43215621',
 '(04344)211113',
 '(080)43215621',
 '(040)26738737',
 '(080)22759842',
 '(044)49481100',
 '(04344)211113',
 '(080)29435303',
 '(080)35986130',
 '(0821)6141380',
 '(080)43562014',
 '(080)44046839',
 '(080)32255824',
 '(080)47459867',
 '(080)32255824',
 '(022)28952819',
 '(080)22759842',
 '(044)68407232',
 '(080)20227149',
 '(080)43562014',
 '(080)62342282',
 '(080)22759842',
 '(044)64005505',
 '(080)47459867',
 '(04344)316423',
 '(080)62342282',
 '(080)62164823',
 '(080)62164823',
 '(080)22759842',
 '(080)47459867',
 '(080)64047472',
 '(044)49481100',
 '(080)32390650',
 '(080)20227149',
 '(022)28952819',
 '(080)44389098',
 '(080)61419142',
 '(080)43685310',
 '(080)62342282',
 '(04344)228249',
 '(0471)6537077',
 '(080)44389098',
 '(080)44046839',
 '(080)25863765',
 '(080)62342282',
 '(080)39755879',
 '(022)38214945',
 '(022)28952819',
 '(04344)211113',
 '(080)43562014',
 '(022)22288051',
 '(080)47459867',
 '(044)49481100',
 '(080)22759842',
 '(080)49796269',
 '(080)44046839',
 '(080)22759842',
 '(022)28952819',
 '(080)44389098',
 '(080)44046839',
 '(080)60068611',
 '(080)33251027',
 '(080)26097534',
 '(080)29435303',
 '(080)62342282',
 '(080)32255824',
 '(04344)316423']

In [264]:
all_fix = [x.split(')') for x in all_fix_area_Code]

In [266]:
all_fix2 = [x[0] for x in all_fix]

In [267]:
all_fix2

['(04344',
 '(044',
 '(04344',
 '(080',
 '(080',
 '(04344',
 '(080',
 '(080',
 '(040',
 '(080',
 '(080',
 '(080',
 '(044',
 '(080',
 '(04344',
 '(080',
 '(040',
 '(040',
 '(080',
 '(022',
 '(080',
 '(080',
 '(04344',
 '(022',
 '(022',
 '(080',
 '(080',
 '(080',
 '(022',
 '(080',
 '(080',
 '(080',
 '(080',
 '(040',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(04344',
 '(04546',
 '(040',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(022',
 '(022',
 '(04344',
 '(080',
 '(080',
 '(080',
 '(080',
 '(040',
 '(044',
 '(044',
 '(080',
 '(044',
 '(022',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(040',
 '(04344',
 '(080',
 '(080',
 '(080',
 '(0821',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(022',
 '(040',
 '(040',
 '(040',
 '(080',
 '(080',
 '(080',
 '(0821',
 '(080',
 '(022',
 '(080',
 '(04344',
 '(04344',
 '(080',
 '(080',
 '(080',
 '(04344',
 '(080',
 '(080',
 '(044',
 '(080',
 '(080',
 '(022',
 '(080',
 '(080',
 '(080',
 '(040',
 '(080',
 '(040',
 '(080',
 '(080',
 '(040',
 '(080',
 '(080',
 '(080',
 '(040',
 '(080',
 '(080',
 '(080',
 '(044',
 '(080',
 '(04546',
 '(080',
 '(0821',
 '(080',
 '(040',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(04344',
 '(0821',
 '(080',
 '(080',
 '(080',
 '(022',
 '(022',
 '(080',
 '(04344',
 '(080',
 '(022',
 '(080',
 '(022',
 '(080',
 '(022',
 '(080',
 '(080',
 '(040',
 '(080',
 '(022',
 '(04344',
 '(040',
 '(080',
 '(080',
 '(080',
 '(0821',
 '(022',
 '(080',
 '(080',
 '(080',
 '(040',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(0821',
 '(080',
 '(044',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(040',
 '(080',
 '(080',
 '(080',
 '(022',
 '(080',
 '(04344',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(040',
 '(080',
 '(080',
 '(040',
 '(040',
 '(0821',
 '(080',
 '(080',
 '(044',
 '(040',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(04344',
 '(044',
 '(080',
 '(080',
 '(080',
 '(080',
 '(0821',
 '(080',
 '(080',
 '(04344',
 '(080',
 '(080',
 '(040',
 '(040',
 '(040',
 '(080',
 '(080',
 '(04344',
 '(080',
 '(080',
 '(0821',
 '(080',
 '(022',
 '(080',
 '(044',
 '(044',
 '(022',
 '(080',
 '(080',
 '(080',
 '(022',
 '(04546',
 '(080',
 '(080',
 '(04344',
 '(022',
 '(022',
 '(080',
 '(080',
 '(04344',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(04344',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(044',
 '(080',
 '(080',
 '(080',
 '(040',
 '(080',
 '(080',
 '(022',
 '(080',
 '(080',
 '(080',
 '(044',
 '(080',
 '(080',
 '(022',
 '(080',
 '(080',
 '(080',
 '(040',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(022',
 '(080',
 '(080',
 '(080',
 '(080',
 '(040',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(022',
 '(022',
 '(040',
 '(080',
 '(080',
 '(080',
 '(0821',
 '(080',
 '(04344',
 '(080',
 '(044',
 '(080',
 '(080',
 '(022',
 '(04344',
 '(04344',
 '(080',
 '(022',
 '(080',
 '(080',
 '(04344',
 '(080',
 '(040',
 '(080',
 '(044',
 '(04344',
 '(080',
 '(080',
 '(0821',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(022',
 '(080',
 '(044',
 '(080',
 '(080',
 '(080',
 '(080',
 '(044',
 '(080',
 '(04344',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(044',
 '(080',
 '(080',
 '(022',
 '(080',
 '(080',
 '(080',
 '(080',
 '(04344',
 '(0471',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(022',
 '(022',
 '(04344',
 '(080',
 '(022',
 '(080',
 '(044',
 '(080',
 '(080',
 '(080',
 '(080',
 '(022',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(080',
 '(04344']

In [268]:
all_fix3 = [x + x.join(')') for x in allno2]

In [269]:
all_fix3

['(04344)',
 '(044)',
 '(04344)',
 '(080)',
 '(080)',
 '(04344)',
 '(080)',
 '(080)',
 '(040)',
 '(080)',
 '(080)',
 '(080)',
 '(044)',
 '(080)',
 '(04344)',
 '(080)',
 '(040)',
 '(040)',
 '(080)',
 '(022)',
 '(080)',
 '(080)',
 '(04344)',
 '(022)',
 '(022)',
 '(080)',
 '(080)',
 '(080)',
 '(022)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(040)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(04344)',
 '(04546)',
 '(040)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(022)',
 '(022)',
 '(04344)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(040)',
 '(044)',
 '(044)',
 '(080)',
 '(044)',
 '(022)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(040)',
 '(04344)',
 '(080)',
 '(080)',
 '(080)',
 '(0821)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(022)',
 '(040)',
 '(040)',
 '(040)',
 '(080)',
 '(080)',
 '(080)',
 '(0821)',
 '(080)',
 '(022)',
 '(080)',
 '(04344)',
 '(04344)',
 '(080)',
 '(080)',
 '(080)',
 '(04344)',
 '(080)',
 '(080)',
 '(044)',
 '(080)',
 '(080)',
 '(022)',
 '(080)',
 '(080)',
 '(080)',
 '(040)',
 '(080)',
 '(040)',
 '(080)',
 '(080)',
 '(040)',
 '(080)',
 '(080)',
 '(080)',
 '(040)',
 '(080)',
 '(080)',
 '(080)',
 '(044)',
 '(080)',
 '(04546)',
 '(080)',
 '(0821)',
 '(080)',
 '(040)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(04344)',
 '(0821)',
 '(080)',
 '(080)',
 '(080)',
 '(022)',
 '(022)',
 '(080)',
 '(04344)',
 '(080)',
 '(022)',
 '(080)',
 '(022)',
 '(080)',
 '(022)',
 '(080)',
 '(080)',
 '(040)',
 '(080)',
 '(022)',
 '(04344)',
 '(040)',
 '(080)',
 '(080)',
 '(080)',
 '(0821)',
 '(022)',
 '(080)',
 '(080)',
 '(080)',
 '(040)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(0821)',
 '(080)',
 '(044)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(040)',
 '(080)',
 '(080)',
 '(080)',
 '(022)',
 '(080)',
 '(04344)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(040)',
 '(080)',
 '(080)',
 '(040)',
 '(040)',
 '(0821)',
 '(080)',
 '(080)',
 '(044)',
 '(040)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(04344)',
 '(044)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(0821)',
 '(080)',
 '(080)',
 '(04344)',
 '(080)',
 '(080)',
 '(040)',
 '(040)',
 '(040)',
 '(080)',
 '(080)',
 '(04344)',
 '(080)',
 '(080)',
 '(0821)',
 '(080)',
 '(022)',
 '(080)',
 '(044)',
 '(044)',
 '(022)',
 '(080)',
 '(080)',
 '(080)',
 '(022)',
 '(04546)',
 '(080)',
 '(080)',
 '(04344)',
 '(022)',
 '(022)',
 '(080)',
 '(080)',
 '(04344)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(04344)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(044)',
 '(080)',
 '(080)',
 '(080)',
 '(040)',
 '(080)',
 '(080)',
 '(022)',
 '(080)',
 '(080)',
 '(080)',
 '(044)',
 '(080)',
 '(080)',
 '(022)',
 '(080)',
 '(080)',
 '(080)',
 '(040)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(022)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(040)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(022)',
 '(022)',
 '(040)',
 '(080)',
 '(080)',
 '(080)',
 '(0821)',
 '(080)',
 '(04344)',
 '(080)',
 '(044)',
 '(080)',
 '(080)',
 '(022)',
 '(04344)',
 '(04344)',
 '(080)',
 '(022)',
 '(080)',
 '(080)',
 '(04344)',
 '(080)',
 '(040)',
 '(080)',
 '(044)',
 '(04344)',
 '(080)',
 '(080)',
 '(0821)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(022)',
 '(080)',
 '(044)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(044)',
 '(080)',
 '(04344)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(044)',
 '(080)',
 '(080)',
 '(022)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(04344)',
 '(0471)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(022)',
 '(022)',
 '(04344)',
 '(080)',
 '(022)',
 '(080)',
 '(044)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(022)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(080)',
 '(04344)']

17      [(04344, 316423]
21      [(044, 49481100]
41      [(04344, 316423]
42      [(080, 62164823]
50      [(080, 43685310]
              ...
5154    [(080, 26097534]
5162    [(080, 29435303]
5184    [(080, 62342282]
5197    [(080, 32255824]
5199    [(04344, 316423]
Name: receiving_number, Length: 400, dtype: object

In [207]:
unique(allno3)

There are ['(022)', '(040)', '(04344)', '(044)', '(04546)', '(0471)', '(080)', '(0821)'] different telephone numbers in all text and calls records.

In [208]:
mob = numb[numb.receiving_number.str.contains(" ")]

In [209]:
mob

     calling_number receiving_number         times_stamp  duration_seconds
6     (080)45291968      90365 06212 2016-09-01 06:30:36                 9
11    (080)62164823      74066 93594 2016-09-01 06:52:07               300
26    (080)47459867      98440 65896 2016-09-01 08:08:59              2147
28    (080)23802940      98445 71741 2016-09-01 08:22:10               502
34    (080)46304537      99003 88572 2016-09-01 09:20:15                97
...             ...              ...                 ...               ...
5163  (080)46304537      98447 62998 2016-09-30 18:35:55              2892
5179  (080)45547058      84319 52539 2016-09-30 20:28:05              1829
5191  (080)45687418      93414 19669 2016-09-30 21:23:20               812
5196  (080)45291968      90365 06212 2016-09-30 22:12:55              1754
5207  (080)62164823      74066 93594 2016-09-30 23:41:07               741

[680 rows x 4 columns]

In [210]:
all_mobile = mob.receiving_number.to_list()

In [214]:
list1 =[]
for x in all_mobile:
    if x.startswith('7') or x.startswith('8') or x.startswith('9'):
        list1.append(x[:4])

In [215]:
list1

['9036',
 '7406',
 '9844',
 '9844',
 '9900',
 '9740',
 '9738',
 '8151',
 '9008',
 '9844',
 '9035',
 '9526',
 '9844',
 '8431',
 '9844',
 '9844',
 '8151',
 '9900',
 '8714',
 '9241',
 '9900',
 '9341',
 '9844',
 '9741',
 '7406',
 '9008',
 '9342',
 '8301',
 '7406',
 '9738',
 '9961',
 '9844',
 '9019',
 '7829',
 '9019',
 '9343',
 '9241',
 '9341',
 '9844',
 '9341',
 '8151',
 '9741',
 '9900',
 '7813',
 '9844',
 '9844',
 '9844',
 '9008',
 '9019',
 '9844',
 '9526',
 '8151',
 '9019',
 '8431',
 '9844',
 '9035',
 '9845',
 '8431',
 '9035',
 '8152',
 '9400',
 '9844',
 '9400',
 '9844',
 '8714',
 '9343',
 '8151',
 '9845',
 '8714',
 '9035',
 '7406',
 '9844',
 '9844',
 '7406',
 '7795',
 '9740',
 '9900',
 '9400',
 '9341',
 '9242',
 '9844',
 '9448',
 '9036',
 '9242',
 '9036',
 '9844',
 '9844',
 '9342',
 '9845',
 '9900',
 '9241',
 '9035',
 '7406',
 '9342',
 '8431',
 '9741',
 '9400',
 '7406',
 '9008',
 '9844',
 '9242',
 '7813',
 '9526',
 '9400',
 '8151',
 '9342',
 '9844',
 '9008',
 '9448',
 '8431',
 '9844',
 '9844',
 '9400',
 '9241',
 '9242',
 '9241',
 '9526',
 '9844',
 '9241',
 '8431',
 '9008',
 '8431',
 '9740',
 '8151',
 '9019',
 '9241',
 '7829',
 '8431',
 '9526',
 '8151',
 '8151',
 '7406',
 '9019',
 '9342',
 '7829',
 '9036',
 '9738',
 '8301',
 '9740',
 '9242',
 '9019',
 '9242',
 '9019',
 '9242',
 '9740',
 '9738',
 '9400',
 '9526',
 '7829',
 '9035',
 '9242',
 '8431',
 '9900',
 '9400',
 '9341',
 '9656',
 '9448',
 '9241',
 '9740',
 '9900',
 '9241',
 '9008',
 '9449',
 '9241',
 '9844',
 '9341',
 '9008',
 '9844',
 '8151',
 '7829',
 '9036',
 '9845',
 '9400',
 '9656',
 '7829',
 '9019',
 '9844',
 '9526',
 '9741',
 '8151',
 '7813',
 '9019',
 '8151',
 '8151',
 '9400',
 '9845',
 '9740',
 '8431',
 '9400',
 '9008',
 '9845',
 '9526',
 '8151',
 '9448',
 '8714',
 '9036',
 '9035',
 '9741',
 '9844',
 '9844',
 '9035',
 '9844',
 '8431',
 '9008',
 '9741',
 '7406',
 '9342',
 '9741',
 '9844',
 '9449',
 '9242',
 '9342',
 '9741',
 '9845',
 '9844',
 '8431',
 '8714',
 '9448',
 '9400',
 '9740',
 '9526',
 '9844',
 '9019',
 '9400',
 '9844',
 '9844',
 '9343',
 '9400',
 '9844',
 '9242',
 '9844',
 '9448',
 '9526',
 '9448',
 '9741',
 '9008',
 '9448',
 '7406',
 '9845',
 '9526',
 '9242',
 '8151',
 '9341',
 '9526',
 '9241',
 '9341',
 '9400',
 '9449',
 '7795',
 '9844',
 '9740',
 '8431',
 '9844',
 '9448',
 '9844',
 '9019',
 '9900',
 '7813',
 '9035',
 '9449',
 '7829',
 '9448',
 '9343',
 '9900',
 '9036',
 '9008',
 '9448',
 '7829',
 '9741',
 '9019',
 '9845',
 '8151',
 '8431',
 '9845',
 '7406',
 '8151',
 '9343',
 '9844',
 '7795',
 '7406',
 '9740',
 '9449',
 '9900',
 '9342',
 '9241',
 '9400',
 '9741',
 '9035',
 '9342',
 '9844',
 '9241',
 '7406',
 '7406',
 '8151',
 '8431',
 '8431',
 '7829',
 '9844',
 '9035',
 '9342',
 '9844',
 '9740',
 '8151',
 '9845',
 '9019',
 '7829',
 '9035',
 '9448',
 '7406',
 '7795',
 '9448',
 '9738',
 '9241',
 '8151',
 '9844',
 '7406',
 '9448',
 '7406',
 '9449',
 '8151',
 '9740',
 '9008',
 '9738',
 '9844',
 '7813',
 '9738',
 '9019',
 '9400',
 '9036',
 '9844',
 '9242',
 '9741',
 '9845',
 '9448',
 '9844',
 '9341',
 '9738',
 '8151',
 '9740',
 '9241',
 '9035',
 '9035',
 '9019',
 '9526',
 '9741',
 '8431',
 '9740',
 '8152',
 '9035',
 '9448',
 '9844',
 '9449',
 '9008',
 '8151',
 '9740',
 '9844',
 '9241',
 '7829',
 '8151',
 '8151',
 '9844',
 '9526',
 '9342',
 '9448',
 '9742',
 '9526',
 '9341',
 '9844',
 '9008',
 '8431',
 '9449',
 '9449',
 '9449',
 '9738',
 '9036',
 '9900',
 '9343',
 '9241',
 '9900',
 '9019',
 '9844',
 '9241',
 '9035',
 '9900',
 '9343',
 '9400',
 '9448',
 '9449',
 '7406',
 '9019',
 '9741',
 '9341',
 '9449',
 '7829',
 '8151',
 '9035',
 '9241',
 '7406',
 '9741',
 '9448',
 '7829',
 '9844',
 '8151',
 '9844',
 '9400',
 '9738',
 '9449',
 '9526',
 '9342',
 '9900',
 '9448',
 '8151',
 '9019',
 '9740',
 '7829',
 '9526',
 '9008',
 '9448',
 '9526',
 '9242',
 '9900',
 '9019',
 '9526',
 '9656',
 '9844',
 '9738',
 '9526',
 '9738',
 '9448',
 '9741',
 '9019',
 '9341',
 '9400',
 '9019',
 '9844',
 '9844',
 '9019',
 '9448',
 '9035',
 '8151',
 '9342',
 '9241',
 '9844',
 '9036',
 '9844',
 '9526',
 '9741',
 '9526',
 '9961',
 '9845',
 '8151',
 '9845',
 '8431',
 '9242',
 '9738',
 '9008',
 '9448',
 '9844',
 '9449',
 '7829',
 '9449',
 '9844',
 '8151',
 '9036',
 '9738',
 '9242',
 '9844',
 '8151',
 '7829',
 '9036',
 '9844',
 '7406',
 '8151',
 '7406',
 '9844',
 '9019',
 '9738',
 '9656',
 '9036',
 '9449',
 '9019',
 '9343',
 '9019',
 '9019',
 '9036',
 '9019',
 '9400',
 '9342',
 '7406',
 '9844',
 '9242',
 '7406',
 '7795',
 '9019',
 '9740',
 '7406',
 '8151',
 '9844',
 '9741',
 '9738',
 '9526',
 '8301',
 '9342',
 '9400',
 '9241',
 '9844',
 '8152',
 '9844',
 '7406',
 '9449',
 '9008',
 '9448',
 '8431',
 '9738',
 '9900',
 '9008',
 '9900',
 '9844',
 '9242',
 '9844',
 '9008',
 '7406',
 '9019',
 '9740',
 '9448',
 '9036',
 '9342',
 '9448',
 '8151',
 '9844',
 '9448',
 '9738',
 '9845',
 '7406',
 '9741',
 '9526',
 '9740',
 '9845',
 '9900',
 '9448',
 '7829',
 '9740',
 '7829',
 '9448',
 '9341',
 '9008',
 '8152',
 '9448',
 '9900',
 '9844',
 '9526',
 '9741',
 '9035',
 '7406',
 '9019',
 '9019',
 '9845',
 '9844',
 '9738',
 '7829',
 '9241',
 '9741',
 '9740',
 '8151',
 '9019',
 '9844',
 '9035',
 '9342',
 '9741',
 '7406',
 '9900',
 '9343',
 '8431',
 '9740',
 '9019',
 '7813',
 '9019',
 '8431',
 '9036',
 '9742',
 '9242',
 '9448',
 '9844',
 '9844',
 '9844',
 '9019',
 '9019',
 '7406',
 '9844',
 '7829',
 '9656',
 '7829',
 '9343',
 '9241',
 '9241',
 '9656',
 '9742',
 '9526',
 '9526',
 '9008',
 '9008',
 '9341',
 '9738',
 '9008',
 '8431',
 '9019',
 '9019',
 '9656',
 '9036',
 '9526',
 '9036',
 '8151',
 '9741',
 '9019',
 '9742',
 '9741',
 '9844',
 '9526',
 '8151',
 '9341',
 '9844',
 '9740',
 '9740',
 '9844',
 '9035',
 '9961',
 '9035',
 '7795',
 '9400',
 '9738',
 '9741',
 '8151',
 '9740',
 '9008',
 '9526',
 '9526',
 '9844',
 '9242',
 '9242',
 '9241',
 '9035',
 '9740',
 '9900',
 '9740',
 '9449',
 '9035',
 '9738',
 '9844',
 '8714',
 '9035',
 '9036',
 '9342',
 '9742',
 '9526',
 '9900',
 '9400',
 '9738',
 '9900',
 '9448',
 '9738',
 '9449',
 '8151',
 '7795',
 '9343',
 '9035',
 '9241',
 '9035',
 '9741',
 '8152',
 '9019',
 '8714',
 '9900',
 '9448',
 '9844',
 '7813',
 '9844',
 '8431',
 '9341',
 '9036',
 '7406']

In [216]:
unique(list1)

There are ['7406', '7795', '7813', '7829', '8151', '8152', '8301', '8431', '8714', '9008', '9019', '9035', '9036', '9241', '9242', '9341', '9342', '9343', '9400', '9448', '9449', '9526', '9656', '9738', '9740', '9741', '9742', '9844', '9845', '9900', '9961'] different telephone numbers in all text and calls records.

In [217]:
tele= numb[numb.receiving_number.str.startswith("140")]

In [218]:
tele

Empty DataFrame
Columns: [calling_number, receiving_number, times_stamp, duration_seconds]
Index: []

In [219]:
allnum = list1 + allno3

In [235]:
unique(allnum)

The numbers called by people in Bangalore have codes: (022)
(040)
(04344)
(044)
(04546)
(0471)
(080)
(0821)
7406
7795
7813
7829
8151
8152
8301
8431
8714
9008
9019
9035
9036
9241
9242
9341
9342
9343
9400
9448
9449
9526
9656
9738
9740
9741
9742
9844
9845
9900
9961

In [221]:
fix2 = numb[numb.receiving_number.str.startswith("(080")]

In [222]:
fix2

     calling_number receiving_number         times_stamp  duration_seconds
42    (080)32255824    (080)62164823 2016-09-01 09:57:10                12
50    (080)29435303    (080)43685310 2016-09-01 10:25:39               236
73    (080)62164823    (080)32255824 2016-09-01 12:25:18              3884
98    (080)43215621    (080)47459867 2016-09-01 14:56:12               695
157   (080)46566171    (080)40395498 2016-09-01 21:13:18               938
...             ...              ...                 ...               ...
5142  (080)49796269    (080)33251027 2016-09-30 16:51:49              1144
5154  (080)39755879    (080)26097534 2016-09-30 17:49:24              2496
5162  (080)43685310    (080)29435303 2016-09-30 18:33:28               112
5184  (080)44046839    (080)62342282 2016-09-30 20:49:51               385
5197  (080)62164823    (080)32255824 2016-09-30 22:21:26               793

[268 rows x 4 columns]

In [236]:
round(len(fix2) / len(df) * 100, 2)

5.14

In [239]:
market = df[df.calling_number.str.startswith('140')]

In [244]:
all_market = market.calling_number.to_list()

In [245]:
receiving_calls = df.receiving_number.to_list()

In [251]:
receiving_calls2 = df[df.receiving_number.str.startswith('140')]

In [252]:
receiving_calls2

Empty DataFrame
Columns: [calling_number, receiving_number, times_stamp, duration_seconds]
Index: []

In [247]:
sending_text =text_df[text_df.calling_number.str.startswith('140')]

In [248]:
sending_text

Empty DataFrame
Columns: [calling_number, receiving_number, times_stamp]
Index: []

In [253]:
receiving_text = text_df[text_df.receiving_number.str.startswith('140')]

In [254]:
receiving_text

Empty DataFrame
Columns: [calling_number, receiving_number, times_stamp]
Index: []

In [246]:
text_df

     calling_number receiving_number         times_stamp
0       97424 22395      90365 06212 2016-09-01 06:03:22
1       94489 72078      92415 91418 2016-09-01 06:05:35
2       81520 43406      92421 64236 2016-09-01 06:09:34
3       97389 12538      90352 50054 2016-09-01 06:09:39
4       81515 42171      98440 02823 2016-09-01 06:13:30
...             ...              ...                 ...
9067    97395 95120      94490 65627 2016-09-30 23:46:32
9068    70121 27677      90359 79636 2016-09-30 23:47:05
9069    87141 73076      78290 30467 2016-09-30 23:51:31
9070    81526 05544      99612 41256 2016-09-30 23:54:04
9071    90365 06212      81513 30231 2016-09-30 23:59:06

[9072 rows x 3 columns]

In [255]:
unique(all_market)

The numbers called by people in Bangalore have codes: 1400481538
1401747654
1402316533
1403072432
1403579926
1404073047
1404368883
1404787681
1407539117
1408371942
1408409918
1408672243
1409421631
1409668775
1409994233